* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2e3233;
  width: 100%;
}

header {
  width: 100%;
  font-size: 15px;
  height: 120px;
}
.logo_svg {
  height: 95px;
  width: 95px;
}
.big_div {
  display: flex;
  flex-direction: row;
}
.comtainer{
    display: flex;
    flex-direction: row;
}

.searching_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.searching_box {
  height: 40px;
  width: 400px;
  background-color: #d9d9d9;
  color: #2e3233;
  border-radius: 25px;
  padding: 15px;
  margin-right: 15px;
}
.submit_btn {
  height: 40px;
  width: 100px;
  background-color: #d9d9d9;
  color: #2e3233;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}
.line {
  height: 3px;
  background-color: #d9d9d9;
}
.main {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.main_title {
  color: #d9d9d9;
  font-size: 50px;
}
.main_svg {
  width: 250px;
  height: 250px;
}
.main_info {
  color: #d9d9d9;
  font-size: 40px;
  margin-top: 50px;
  margin-left: 50px;
}
.more_information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main_more {
  background-color: #d9d9d9;
  color: #2e3233;
  height: 60px;
  width: 150px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 20px;
  margin-bottom: 20px;
}
.more_title {
  margin-bottom: 10px;
}
.hourly-forecast {
  padding: 25px;
}
.hourly-grid {
  display: block;
  overflow: hidden;
  margin-left: 50px;
}

.hourly-h2 {
  color: #d9d9d9;
  margin-bottom: 15px;
}
.hourly-container {
  height: 150px;
  width: 100px;
  background-color: #d9d9d9;
  border-radius: 20px;
  margin-right: 20px;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  font-size: 20px;
}

.hourly-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-left: 25px;
  margin-top: 15px;
  gap: 15px;
}

.hourly-time {
  color: #2e3233;
}

.hourly-icons {
  height: 50px;
  width: 50px;
}

.hourly-temperature {
  color: #2e3233;
}
